.chat-wrapper{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
}

.chat-contents{
  width: 70vw;
  padding: 3vh 5vw;
}

/****************チャット************/
.chat-title {
  font-size: 20px;
  margin: 5vh 7vh;
  text-decoration: none;
  color: #0a0a0a;
  font-weight: bold;
}

.chats{
  width: 50vw;
  margin: 20px 0 0 0;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 5px;
  border: 1px solid #959da5;
}

.chat{
  display: flex;
  justify-content: space-between;
}

.chat-main{
  padding: 20px 40px 0;
  overflow: scroll;
}

.chat-top{
  display: flex;

}
.chat-name{
  font-size: 14px;
  color: #434a54;
  margin-right: 10px;
}

.chat-time{
  font-size: 12px;
  color: #999;
}

.chat-center{
  margin-top: 15px;
  display: flex;
}

.chat-comment{
  font-size: 16px;
  color: #434a54;
  margin-bottom: 10px;
}

.chat-right{
  display: flex;
}
.chat-delete{
  margin-left: 20px;
}

.chat-likes{
  display: flex;
  justify-content: right;
}

.good-btn{
  margin-right: 5px;
}

.good-count{
  font-size: 18px;
  color: #434a54;
  padding-top: 5px;
}

/****************投稿フォーム************/

.form{
  height: 90px;
  padding: 20px 40px;
  display: flex;
}

.form-input {
  background-color: white;
  display: flex;
  width: 50vw;
  
}

.form-message {
  height: 50px;
  width: 100%;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px ridge #959da5;
}

.form-submit {
  background-color: #f0bd5d;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  width: 80px;
  height: 50px;
  margin-left: 15px;
  padding: 0 20px;
}

.form-image {
  background-color: #cad5d5;
  border-radius: 5px;
  border: none;
  color: white;
  font-size: 16px;
  height: 50px;
  padding: 15px 20px;
  width: 80px;
  margin-left: 15px;
  text-align: center;
}

.image-file{
  height: 50px;
}

.hidden {
  display: none;
}

/**ipad**/
@media (max-width: 1024px) {
  .chat-contents{
    width: 90vw;
  }
  .chat-title {
    margin: 3vh 3vh;
  }
  .chats{
    width: 70vw;
  }

}
