.hamburger-menu {
  width: 30px;
  height: 22px;
  position: absolute;
  top: 50px;
  left: 50px;
  cursor: pointer;
}

.line {
  background-color: black;
  height: 3px;
  width: 100%;
  position: absolute;
  transition: all 0.3s;
}

.line:nth-of-type(1) {
  top: 0;
}

.line:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
}

.line:nth-of-type(3) {
  bottom: 0;
}

.hamburger-menu.active > .line:nth-of-type(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.hamburger-menu.active > .line:nth-of-type(2) {
  display: none;
}

.hamburger-menu.active > .line:nth-of-type(3) {
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

/****************サイドバー************/
.side-bar {
  border-right: 2px solid #dedede;
  width: 230px;
  display: none;
  flex-direction: column;
  position: absolute;
  transform: translate(-30%, -50%);
  align-items: center;
  justify-content: center;
  background-color: #fff;
  opacity: 0;
  padding: 15px;
  z-index: 100;
}

.side-bar-contents{
  width: 100%;
  margin-bottom: 30px;
}

.contents-top{
  display: flex;
  margin-bottom: 5px;
}

.contents-bottom{
  display: flex;
}

.search-input{
  width: 100%;
  margin-bottom: 2px;
  line-height: 20px;
}

.search-btn{
  text-align: right;
}


.side-bar-second-contents{
  width: 100%;
  margin-bottom: 30px;
  display: flex;
}

.side-bar-title{
  padding: 10px;
  color: #0a0a0a;
  font-size: 16px;
}

.side-bar.active {
  display: flex;
  animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    top: 45%;
    opacity: 0;
  }
  
  100% {
    top: 50%;
    opacity: 1;
  }
}