.top-page-header {
  width: 100vw;
  padding: 1vh 5vw;
  display: flex;
  flex-direction: column;
  background-image: url('header-cover.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  font-weight: bold;
}

.top-bar-contents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #333333;
}

.top-logo {
  margin-right: 50px;
}

.top-nav {
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 1vh 0;
  list-style: none;
}

.nav-list {
  text-decoration: none;
  margin-right: 50px;
  border-radius: 2px;
  border: 1px solid #333333;
  color: #333333;
  padding: 10px;
}

.user-list {
  text-decoration: none;
  margin-right: 50px;
}

.user-name {
  width: 200px;
  height: 40px;
  background: #fff;
  line-height: 2.8;
  border-right: 1px solid #eee;
}

.icon{
  margin-right: 7px;
}

.user-name a {
  text-decoration: none;
}

.user_info{
  display: none;
  margin-left: -40px;
  position: absolute;
  list-style: none;
}

.pull-down{
  color: #333333;
  margin-bottom: 5%;
}

