<div class="side-bar">
  <div class = "side-bar-second-contents">
    <%= image_tag("chat.png", size: '35x35', class: "side-bar-img") %>
    <%= link_to "チャット", chats_path, class: "side-bar-title" %>
  </div>
</div>