<div class="chat-bar">
  <%= link_to chats_path, class: 'side-content' do %>
    <span class='side-content-text'>チャット</span>
    <%= image_tag("chat.png", size: '50x50', class: "side-content-img") %>
  <% end %>
</div>
