<div class="chat">
  <div class="chat_top">
    <div class="chat_name">
      <!-- 投稿したユーザー名情報を出力する -->
      <%= chat.user.user_name %>

    </div>
    <div class="chat_time">
      <!-- 投稿した時刻を出力する -->
      <%= l chat.created_at %>
    </div>
  </div>
  <div class="chat_center">
    <div class="chat_comment">
      <!-- 投稿したメッセージ内容を記述する -->
      <%= chat.message %>
    </div>
    <%= image_tag chat.image.variant(resize: '50x50'), class: 'chat-image' if chat.image.attached? %>
  </div>
</div>