.lists-title {
  font-size: 20px;
  margin: 5vh 7vh;
  text-decoration: none;
  color: #0a0a0a;
  font-weight: bold;
}

.order-lists-container{
  padding: 10px 50px 0;
  min-height: 100vh;
}

.order-lists{
  width: 77vw;
  margin-bottom: 20px;
  border-radius: 5px;
}

.list-header {
  width: 15%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 2vh;
}

.list-body {
  width: 30px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.list-pen{
  text-align: center;
  padding: 20px;
  border: 1px solid #dedede;

}




.chat-right{
  display: flex;
}
.chat-delete{
  margin-left: 20px;
}

.chat-likes{
  display: flex;
  justify-content: right;
}