.side-content {
  width: 120px;
  text-align: center;
  border-radius: 10%;
  border: 1px solid #f0bd5d;
  background-color: #fff;
  box-shadow: 0 3px 3px #f0bd5d;
  bottom: 50px;
  right: 80px;
  position: fixed;
  padding: 15px;
}

.side-content-text {
  color: #333333;
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 5px;
}

.side-content-img {
  width: 60%;
}

.side-content:hover {
  box-shadow: none;
  transform: translateY(5px);
}
