.wrapper{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  width: 100vw;
  position: relative;/*←相対位置*/
}

/**メイン（在庫一覧）**/
.main-page {
  width: 70vw;
  padding: 3vh 0;
  margin-right: 10vw;
}

a {
  text-decoration: none;
}

.main-page>.subtitle {
  font-size: 20px;
  text-decoration: none;
  color: #0a0a0a;
  font-weight: bold;
  padding-top: 20px;
}

.item-table {
  margin: 30px 0;
  width: 100%;
}

.item-table-header {
  width: 15%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 2vh;
}

.item-table-body {
  width: 30px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.item-table-pen{
  text-align: center;
  padding: 20px;
  border: 1px solid #dedede;
}

.item-table-pen a{
  color: #333333;
}