<% if current_user.admin? %>
  <div class="order-list">
    <%= link_to item_order_lists_path(@items), class: 'side-content' do %>
      <span class='side-content-text'>発注リスト</span>
      <%= image_tag("order-list.png", size: '50x50', class: "side-content-img") %>
    <% end %>
  </div>
<% end %>