<div class="side-bar">
  <div class = "search-contents">
    <span><%= link_to image_tag("search-logo.png", size: '150x90', class: "search") %>
      <ul class="search_info">
        <li>
          <%= link_to "備品", "#" %>
          <%= link_to "在庫", "#" %>
        </li>
      </ul>
    </span>
  </div>
  <div class = "chat-contents">
    <%= link_to image_tag("chat-logo.png", size: '150x90', class: "chat-img"), chats_path %>
  </div>
</div>