<div class="side-bar">
  <span><%= link_to "検索", "#", class: "search" %>
    <ul class="search_info">
      <li>
        <%= link_to "備品", "#" %>
        <%= link_to "在庫", "#" %>
      </li>
    </ul>
  </span>
  <div class = "chat-contents">
  <%= link_to "Chat", chats_path, class: "chat" %>
</div>