<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bar"><%= render "side-bar" %></div>
</div>
<div class="main-page"><%= render "main-page" %></div>


<%= render "shared/footer" %>