<%= render "shared/header" %>

<div class="wrapper">
  <div class="main-page"><%= render "main-page" %></div>
  <div class="order-list-page"><%= render "order_list" %></div>
</div>


<%= render "shared/footer" %>