<%= render "shared/header" %>

<div class="wrapper">
  <div class="main-page"><%= render "main-page" %></div>
  <div class="chat-page"><%= render "shared/chat" %></div> 
</div>


<%= render "shared/footer" %>