<%= render "shared/header" %>

<div class="wrapper">
  <div class="main-page"><%= render "main-page" %></div>
</div>
<div class= "main-back-btns">
  <div class="main-back-btn"><%=link_to '在庫一覧へもどる', root_path %></div>
</div>

<%= render "shared/footer" %>