<%= render "shared/header" %>

<div class="wrapper">
  <div class="side-bars"><%= render "side-bar" %></div>
  <div class="main-page"><%= render "main-page" %></div>
</div>


<%= render "shared/footer" %>