.user-contents {
  background-color: #fff;
  min-height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.user-content{
  width: 70vw;
  padding: 3vh 5vw;

}

a {
  text-decoration: none;
}
.user-index-titles{
  display: flex;
  justify-content: space-between;
}

.user-index-title {
  font-size: 20px;
  font-weight: bold;
  margin: 5vh 0;
  margin-left: 80px;
  color: #0a0a0a;
}

.new-account{
  margin: 5vh 0;
}

.create{
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #666161;
  margin-right: 80px;

}

.user-table {
  width: 100%;
  padding: 3vh 5vw;
}

.user-table-header {
  width: 15%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
  padding: 2vh;
}

.user-table-body {
  width: 30px;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  overflow-wrap: anywhere;
}

.user-table-pen{
  text-align: center;
  padding: 20px;
  border: 1px solid #dedede;
}

.user-table-pen a{
  color: #333333;
}

/**ipad**/
@media (max-width: 1024px) {  
  .user-content{
    width: 90vw;  
  }
  .user-table {
    padding: 0 5vw;
  }

}