.login-pic{
  background-image: url('login.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  min-height: 100vh;
}

.login-headers {
  width: 100%;
  min-width: 800px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-logo{
  width: 50%;
}


.login-btn {
  width: 50%;
  margin: 0 auto;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.login-red-btn {
  width: 100%;
  background: #25aeb5;
  border: 1px solid #25aeb5;
  border-radius: 4px;
  color: #fff;
  line-height: 48px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.login-flash-message {
  text-align: center;
  color: red;
}

.check-field{
  margin-top: 20px;
  text-align: center;
}

.new-user-btn{
  text-align: center;
  color: #25aeb5;
  line-height: 48px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
}