.user-show {
  background-color: #fff;
  width: 100vw;
  display: flex;
  justify-content: center;
  min-height: 100vh;
  box-sizing: border-box;/*←全て含めてmin-height:100vhに*/}

.user_wrapper {
  background-color: #FFF;
  width: 70vw;
  padding: 3vh 5vw;
  display: flex;
  flex-direction: column;
}

.page-heading {
  font-size: 20px;
  font-weight: bold;
  margin: 5vh 0;
  margin-left: 80px;
  color: #0a0a0a;

}

.item-box>.name {
  text-align: center;
  font-weight: bold;
  font-size: 25px;
}

.table {
  width: 100%;
  padding: 3vh 5vw;
}

.table_col1 {
  width: 30%;
  background-color: #eee;
  border: 1px solid #dedede;
  font-size: 14px;
  text-align: center;
}

.table_col2 {
  width: 70%;
  padding: 20px;
  border: 1px solid #dedede;
  font-size: 14px;
  overflow-wrap: anywhere;

}

.user-btns{
  padding: 3vh 5vw;

}
